<footer style="font-size: 14px; padding: 16px 0; border-top: 1px solid #eee">
    <p style="margin: 0; color: gray">
        如果您不想再收到LSSHUAISL发出的邮件，可以点击<a target="_blank" style="color: #537fd8; cursor: pointer"
            >此链接</a
        >取消订阅。该邮件由系统自动发送，请勿直接回复此邮箱。
    </p>
</footer>
